.content  {
        width: 100%;
        height: auto;

        
}

.content >  h2 {
        font-weight: bold;
}

.content > button {
        width: 200px;
        height: 40px;
        border: none;
        background-color: #CFA36E;
        color: white;
        font-weight: bold;
}