.container {
        width: 100%;
        height: auto;
        padding-top: 5%;
        padding-bottom: 5%;
}

//Title
.title {
        h2 {
                font-weight: bold;
        }
        h6 {
                font-weight: lighter;
        }
        margin-bottom: 40px;
}


//Content

.content {
        width: 100%;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
}


//Opinion Item
 .contentItem {
        width: 100%;
        height: auto;
        padding-top: 3%;
        padding-bottom: 3%;
}

.stars {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        ul {
                display: inline;

                li {
                        display: inline;
                }
        }
}

.opinionContent {
        width: 100%;
        height: auto;

        p {
                font-weight: lighter;
                font-style: italic;
                text-align: center;
        }
}

.opinionPerson {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: bold;
}