.formSection {
        margin-top: 50px;
}

.formSection > h2 {
        font-weight: bold;
}

.contactFormButton {
        width: 200px;
        height: 40px;
        background-color: #CFA36E;
        border: none;
        color: white;
        font-weight: bold;
}








.subSection {
        margin-top: 50px;
}

.subSection > h3 {
        font-weight: bold;
}

.quoteButton {
        width: 200px;
        height: 40px;
        background-color: #CFA36E;
        border: none;
        color: white;
        font-weight: bold;
}